# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
envir/
.venv/
venv/

# =========================
# Secrets
# =========================
.streamlit/secrets.toml
.env

# =========================
# User data
# =========================
documind.db
documind_profile.json
documind_workspaces.json

# =========================
# Local vector database
# =========================
chroma_db/

# =========================
# SQLite databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# IDE
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db


